<nb-card accent="info">
  <nb-card-body>
    <section class="align">
      <a routerLink="/search">
        <h1>Need to see a doctor?</h1>
      </a>
      <p>
        Search for a healthcare professional close to you using the find a
        provider tool.
      </p>
    </section>
  </nb-card-body>
</nb-card>

<nb-card accent="info">
  <nb-card-body>
    <section class="align">
      <a routerLink="/upcoming-consultations">
        <h1>Upcoming consultations</h1>
      </a>
    </section>
  </nb-card-body>
</nb-card>

<nb-card accent="info">
  <nb-card-body>
    <section class="align">
      <a routerLink="/health-records">
        <h1>Health records</h1>
      </a>
    </section>
  </nb-card-body>
</nb-card>
